body, html {

    font-family: roboto_slabregular;
    background-color: #2B3856;
    padding: 0px;
    margin: 0px;

}

#body .dark-background {

    max-width: 470px;
    margin: auto;

}

#body {

    padding-left: 5px;
    padding-right: 5px;

}

#body p {

    margin-left: 10px;
    margin-right: 10px;

}

#body .row {

    margin: 0px;

}

#body .row .col-xs-12 {

    padding: 0px;
    padding-bottom: 10px;

}

.col-pad {

    height: 100px;
    padding: 0px;

}


#banner {

    font-family: roboto_slabthin;
    text-align: center;
    font-size: 3em;
    color: #393232;
    padding: 20px;
}

#content .col-sm-4 {

    margin: 0px;

}

.inner-border {

    position: relative;
    height: 100%;
    border: 1px solid #393232;
    border-radius: 2px;

}

.dark-background {

    background: rgb(227,229,238);
    background: rgba(227,229,238,.7); 
    padding: 5px;
    border-radius: 3px;

}

.navbar {

    background: rgb(227,229,238);
    background: rgba(227,229,238,.85);
    border: none;
    border-radius: 2px;
    box-shadow: none;
    margin: 5px;
    padding: 5px;

}

.navbar-header {

    padding: 0px;

}

.navbar .container {

    margin: auto;
    padding: 0px;
    width: 100%;

}

.navbar .row {

    margin-left: 0px;

}

#logo {

    margin: 0px;

}

#menu-items {

    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;

}

#menu-items .col-xs-4 {

    padding: 0px;

}

#menu-items .row {

    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;

}

.nav-link {

    padding: 0px;
    white-space: nowrap;
    color: #393232;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;

}

.nav-link:hover {

    color: #40BDFF;
    -ms-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

}

.navbar h1 {
    
    width: 260px;
    color: #2B3856;
    font-size:  3em;
    line-height: 35%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 5px;

}

.navbar a:hover {

    text-decoration: none;

}

.navbar a {

    outline: 0;

}

.navbar h1 > small {

    color: #40BDFF;
    font-size: 28%;
    text-align: center;
    padding-left: 4px;

}

.active {

    background: rgb(0,0,0);
    background: rgba(0,0,0,.3);

}

.navbar .row {

    margin-right: 0px;

}

.navbar > .container {

    padding: 1%;
    width: 100%;

}

.navbar .navbar-right {

    margin-top:5px;

}

.wrapper{

    background: url("img/room.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px;
    padding-top: 10px;

}

#content .col-sm-4:nth-child(even) {

    background-color: #d3d3d3;

}

#content .col-sm-4:nth-child() {

    background-color: #f5f5f5;

}

.button {

    margin: auto;

}

#bottom .row {

    margin: auto;
    height: 100%;
    border-radius: 2px;
    padding: 0px;
    text-align: center;

}

#bottom .col-md-4 {

    padding: 0px;
}

.container-fluid {

    padding: 0px;

}

#bottom .info-pane {

    background: rgb(255,255,255); /*Fallback support*/
    background: rgba(255,255,255,.6);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    max-width: 400px;
    color: #393232;
    font-size: 1.25em;
    text-align: center;

}

.col-centered {

    display:inline-block;
    padding: 0px;
    float:none;
    /* reset the text-align */
    text-align:left;
}

.inner-border {

    border-color: #555d50;

}

#bottom .inner-border {

    padding: 10px;

}

#bottom {

    width: 100%;
    border-top: 2px solid #fafafa;

}


#contact .col-sm-12 > h2 {

    color: #d3d3d3;
    text-align: center;
    font-size: 3em;
    font-family: roboto_slabthin;

}

#contact .dark-background {

    margin: auto;
    text-align: center;
    font-size: 1.25em;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;

}

#contact .inner-border {

    padding: 10px;

}

#contact hr {

    width: 80%;
    color: black;

}

#contact .padding-col {

    height: 50px;

}

#about-img {

    background: url("img/condo.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: auto;
    width: 100%;
    border-top: 5px solid #d3d3d3;
    border-bottom: 5px solid #d3d3d3;
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 50px;

}

#about-img .about-top {

    border-top: 3px solid grey;
    width: 100%;

}

#about-img .about-tagline {

    padding: 10%;
    text-align: center;
    font-family: roboto_slabregular;
    font-size: 3em;
    text-shadow: 2px 2px black;
    color: white;
    margin-top: 0px;

}

.about-row {

    text-align: center;
    color: #d3d3d3;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 50px;

}

.about-col-mid {

    width: 10%;

}


.about-col-side {

    width: 20%;

}

.about-row h3 {

    font-family: roboto_slabbold;

}

.number-float {

    color: #d3d3d3;
    padding-left: 50px;
    padding-bottom: 50px;

}

.service-col {

    text-align: center;
    color: #353839;
    margin: auto;

}

.service-col ul{

    max-width: 350px;
    margin: auto;
    max-width: 300px;
    padding: 0px;
    text-align: left;
    list-style-type: none;

}

.service-col li {

    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.25em;
    padding-left: .6em;
    text-indent: -.6em;

}

.service-col .col-sm-6 {

    min-height: 350px;

}

.service-col img {

    border: 2px solid #353839;
    margin-top: 50px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.service-wrap {

    background: rgb(255,255,255); /*Fallback support*/
    background: rgba(255,255,255,.6);
    border-radius:2px;
    padding: 20px;
    margin: auto;

}

.service-wrap h2 {

    margin-top: 50px;
    margin-bottom: 50px;
    font-family: roboto_slabbold;
    font-size: 3em;

}

.service-wrap h3 {

    font-family: roboto_slabthin;
    font-size: 2em;

}

.call-today {

    position: absolute;
    top: 20%;
    right: 10%;
    text-align: center;
    z-index: 500;

}


