body, html {

    font-family: roboto_slabregular;

}

.jumbotron {

    margin: 0px;
    background: rgb(100,54,54);
    background: rgba(0,0,0,0);

}

.jumbotron p {

    padding: 20px;
    padding-left: 30px;
    margin: 0px;
    font-size: 3em;
    color: white;

}

#content .col-sm-4 {

    margin: 0px;

}

.inner-border {

    position: relative;
    height: 100%;
    border: 1px solid white;
    border-radius: 2px;

}

.dark-background {

    background: rgb(0,0,0); /*Fallback support*/
    background: rgba(0,0,0,.6);
    width: 50%;
    max-width: 475px;
    min-width: 325px;
    padding: 5px;
    height: 60%;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 3px;

}

.navbar {

    background: rgb(0,0,0);
    background: rgba(0,0,0,.6);
    font-color: white;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    margin: 5px;
    padding: 5px;
    min-width: 430px;

}

.navbar .container {

    width: 90%;

}

.navbar .nav > li > a {

    color: white;

}

.navbar .navbar-header > .navbar-brand {

    color: white;

}

.active {

    background: rgb(0,0,0);
    background: rgba(0,0,0,0);

}

.navbar > .container {

    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;

}

.wrapper{

    background: url("img/room.jpg") no-repeat center center;
    padding: 10px;

}

#content .col-sm-4:nth-child(even) {

    background-color: #d3d3d3;

}

#content .col-sm-4:nth-child() {

    background-color: #f5f5f5;

}

.button {

    margin: auto;

}

.foot-wrap {

    width: 80%;
    margin: auto;

}

.footer .row {

    margin-top: 10px;
    height: 100%;
    border-radius: 2px;
    padding: 0px;
    
}

.footer .col-sm-4 {

    padding: 0px;
    max-width: 400px;

}

.footer .info-pane {

    background: rgb(0,0,0); /*Fallback support*/
    background: rgba(0,0,0,.6);
    margin: 10px;
    padding: 5px;
    color: white;
    font-size: 1.5em;

}

.footer {

    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 250px;
    background: url(img/water2.png);
    background-repeat: no-repeat;
    border-top: 2px solid #fafafa;

}
