body, html {

    font-family: roboto_slabregular;
    background-color: #2B3856;

}

.jumbotron {

    margin: 0px;
    background: rgb(100,54,54);
    background: rgba(0,0,0,0);

}

.jumbotron p {

    padding: 20px;
    padding-left: 30px;
    margin: 0px;
    font-size: 3em;
    color: #393232;

}

#content .col-sm-4 {

    margin: 0px;

}

.inner-border {

    position: relative;
    height: 100%;
    border: 1px solid #393232;
    border-radius: 2px;

}

.dark-background {
 
    background: rgb(227,229,238);
    background: rgba(227,229,238,.7); 
    width: 50%;
    padding: 5px;
    height: 60%;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 3px;

}

.navbar {

    background: rgb(227,229,238);
    background: rgba(227,229,238,.85);
    border: none;
    border-radius: 2px;
    box-shadow: none;
    margin: 5px;
    padding: 5px;

}

.navbar .container {

    width: 90%;

}

.navbar .nav > li > a {

    color: #393232;

}

.navbar h1 {
    
    margin: 0px;
    color: #2B3856;
    text-align: center;
    font-size:  3.5em;
    line-height: 35%;
    margin-top: 12px;
    margin-bottom: 5px;

}

.navbar a:hover {

    text-decoration: none;

}

.navbar a {

    outline: 0;

}

.navbar h1 > small {
    
    color: #40BDFF;
    font-size: 30%;

}

.active {

    background: rgb(0,0,0);
    background: rgba(0,0,0,.3);

}

.navbar > .container {

    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;

}

.navbar .navbar-right {

    margin-top:5px;

}

.wrapper{

    background: url("img/room.jpg") no-repeat center center;
    -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
          background-size: cover;
    padding: 10px;

}

#content .col-sm-4:nth-child(even) {

    background-color: #d3d3d3;

}

#content .col-sm-4:nth-child() {

    background-color: #f5f5f5;

}

.button {

    margin: auto;

}

.foot-wrap {

    width: 90%;
    margin: auto;

}

.footer .row {

    margin-top: 10px;
    height: 100%;
    margin: auto;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    
}

.footer .col-md-4 {

    padding: 0px;
}

.footer .info-pane {

    background: rgb(255,255,255); /*Fallback support*/
    background: rgba(255,255,255,.6);
    margin: 60px;
    padding: 5px;
    color: #393232;
    font-size: 1.25em;
    text-align: center;
   
}

.col-centered {

    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.footer .inner-border {

    border-color: black;
    padding: 10px;

}

.footer {

    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 250px;
    border-top: 2px solid #fafafa;

}
